.row
  .col-md-12

    .action-bar
      = link_to 'Edit ', edit_store_path(@store), class: "btn btn-primary pull-right"


  .col-md-12
    %dl.dl-horizontal
      %dt Name
      %dd= @store.name
      %dt Town
      %dd= @store.town
      %dt Street
      %dd= @store.street
      %dt House
      %dd= @store.house


%h4.pull-left.text-primary Sellers

.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %t
          %th Name
          %th

      %tbody
        - @store.sellers.each do |seller|
          %tr
            %td= "#{seller.first_name}  #{seller.last_name}"
            %td.nowrap
              = show_button seller_path(seller)

%h4.pull-left.text-primary Purchases

.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Number
          %th

      %tbody
        - @store.purchases.each do |purchase|
          %tr
            %td= purchase.id
            %td.nowrap
              = show_button purchase_path(purchase)

= link_to 'Back', :back, class: "btn btn-default "